body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3 {
    color: #756158;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0,0,0,0.7)
}

header {
    background-image: url(obrazky/hlavicka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 30px;
}

h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 36px;
}
a {
    color: #756158;
    font-style: italic;
}
/* tato třída upravuje fotografii, ale v html je třída pojmenovaná foto-omne
.omne {
    border-radius: 50%;
    width: 200px;
}
vlastnoti pro foto jsou níže, toto je možné vymazat*/

section {
    padding: 50px 15%;
}

table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.fotogalerie,
.kontakt {
    background-color: #f9e3d0;
}

.zapati {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0;
}
/*margin - mezi číslem a jednotkou nesmí být mezera*/
.foto-omne {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}

.fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
    width: 270px;
    height: 180px;
}

.foto-pruvodce {
    width: 350px;
    border-radius: 0 50px 50px 50px;
    float: right;
    margin: 0 0 30px 30px;
}

.foto-kontakt {
    width: 350px;
    border-radius: 50px 0 50px 50px;
    float: left;
    margin: 0 30px 30px 0;
}

.cena {
    text-align: right;
    padding-left: 50px;
}

.menu {
    border-top: 2px solid #9c8175;
    position: sticky;
    top: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #282425;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
}

.menu a:hover, .menu a:focus, .menu a:active {
    background-color: #756158;
}